LAGROU_USERNAME=your_lagrou_username
LAGROU_PASSWORD=your_lagrou_password
ODOO_URL=https://your-odoo-instance.com
ODOO_DB=your_odoo_database
ODOO_USERNAME=your_odoo_email
ODOO_PASSWORD=your_odoo_password
EMAIL_SERVICE_URL=http://your-email-service:5555/send-email
